<div id="<%= dom_id hotel %>">
  <p>
    <strong>Nom:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= hotel.adress %>
  </p>

  <p>
    <strong>City :</strong>
    <%= hotel.city %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hotel.description %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= hotel.user_id %>
  </p>

</div>